.slick-slide {
  margin-right: 35px;
}
.weeklytop .slick-slider .slick-list .slick-track .slick-slide {
  margin-right: 100px !important;
}
.icon .slick-slider .slick-list .slick-track .slick-slide {
  margin-right: -25px !important;
}
.watching .slick-slider .slick-list .slick-track .slick-slide {
  margin-right: 45px !important;
}
.icon .slick-slider button {
  display: none !important;
}
.slick-track {
  width: 25000px !important;
  display: flex;
  align-items: center;
}
.large-slide {
  transform: scale(1.2); /* hoặc kích thước tùy chọn khác */
  display: flex;
  justify-content: center;
  align-items: center;
}
.react-multi-carousel-dot-list {
  display: none !important;
}
.react-multi-carousel-list {
  padding: 24px 0;
}
..react-multiple-carousel__arrow::before {
  font-weight: bold;
  font-size: 30px !important;
}
.react-multiple-carousel__arrow--right {
  color: #ffff !important;
  position: absolute;
  z-index: 1;
  width: 40px;
  padding: 15px 0;
  height: fit-content;
  background-color: rgba(152, 154, 157, 0.5) !important;
  border: none;
  border-radius: 4px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  color: white;
  right: 0 !important;
  z-index: 0 !important;
}
.react-multiple-carousel__arrow--left {
  z-index: 0;
  color: #ffff !important;
  position: absolute;
  z-index: 1;
  width: 40px;
  padding: 15px 0;
  height: fit-content;
  background-color: rgba(152, 154, 157, 0.5) !important;
  border: none;
  border-radius: 4px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  color: white;
  left: 0 !important;
}
.custom-dropdown svg {
  display: none;
}
.custom-dropdown button {
  border: 0px !important;
}
.custom-dropdown button span {
  padding: 0px;
}
.custom-dropdown button:focus {
  border: 0px !important;
}
.button-dropdown {
  background-color: black !important;
  color: white;
  border: none;
  border-radius: 20px;
}
/* .banner-dropdown svg {
  display: none;
} */

.banner-dropdown button span {
  padding: 0px;
}

.banner-button {
  background-color: #3e394d !important;
  color: white;
  opacity: 0.7;
  border-radius: 20px;
}
/* .banner-button svg {
  display: none;
} */
.slick-prev,
.slick-next {
  color: #ffff !important;
  position: absolute;
  top: 50%;
  z-index: 1;
  width: 40px;
  padding: 15px 0;
  height: fit-content;
  background-color: rgba(152, 154, 157, 0.5) !important;
  border: none;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  color: white;
}
.bgg {
  border: 1px solid white;
}
/* .slick-prev {
  display: none !important;
} */

.slick-next {
  right: -25px;
}
.slick-list {
  padding-top: 20px;
  padding-bottom: 20px;
}
.slick-prev::before,
.slick-next::before {
  font-size: 20px;
}

/* Set hover effects for the arrows */
.slick-prev:hover,
.slick-next:hover {
  background-color: #e0e0e0; /* Set hover background color */
}
.slick-prev::before {
  font-family: "Font Awesome 5 Free"; /* Chọn font icon phù hợp */
  font-weight: 900; /* Đảm bảo rằng font weight là đủ để hiển thị biểu tượng */
  content: "\f053"; /* Sử dụng mã Unicode của biểu tượng mũi tên sang trái từ Font Awesome */
}
.slick-next::before {
  font-family: "Font Awesome 5 Free"; /* Chọn font icon phù hợp */
  font-weight: 900; /* Đảm bảo rằng font weight là đủ để hiển thị biểu tượng */
  content: "\f054"; /* Sử dụng mã Unicode của biểu tượng mũi tên sang phải từ Font Awesome */
}
.custom-flex {
  display: flex !important;
  gap: 7px;
  justify-content: center;
  align-items: center;
}
.slider-arrow {
  height: fit-content;
  position: absolute;
  right: 20%;
  padding: 10px 25px;
  color: white;
  background-color: rgba(152, 154, 157, 0.4);
  border-radius: 6px;
}
.swiper-button-prev {
  position: absolute;
  left: 20%;
  padding: 10px 25px;
  color: white;
  background-color: rgba(152, 154, 157, 0.4);
  border-radius: 6px;
}
.image-container {
  display: flex;
  padding-bottom: 60px;
}

.image-container img {
  flex: 1;
  object-fit: cover;
  height: auto;
  max-width: 100%;
}
@media only screen and (max-width: 768px) {
  .react-multi-carousel-list {
    padding: 10px 0;
  }
  ..react-multiple-carousel__arrow:before {
    font-weight: bold;
    font-size: 15px !important;
  }
  .react-multiple-carousel__arrow--right {
    font-size: 12px !important;
    color: #ffff !important;
    position: absolute;
    z-index: 1;
    min-width: 8px !important;
    min-height: 8px !important;
    padding: 0;
    height: fit-content;
    background-color: rgba(152, 154, 157, 0.5) !important;
    border: none;
    border-radius: 4px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    color: white;
    right: 5px !important;
    width: 20px;
  }
  .react-multiple-carousel__arrow--left {
    padding: 0;
    font-size: 12px !important;
    color: #ffff !important;
    position: absolute;
    z-index: 1;
    min-width: 8px !important;
    min-height: 8px !important;
    height: fit-content;
    background-color: rgba(152, 154, 157, 0.5) !important;
    border: none;
    border-radius: 4px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
    color: white;
    left: 5px !important;
    width: 20px;
  }
  .weeklytop .slick-slider .slick-list .slick-track .slick-slide {
    margin-right: 20px !important;
  }
  .slick-list {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .slick-slide {
    margin-right: 10px;
  }
  .slick-next {
    right: -12px;
  }
  .slick-next::before {
    font-size: 13px;
  }
  .slick-next {
    padding: 14px 10px;
    width: fit-content;
  }
  .icon .slick-slider .slick-next {
    display: block !important;
  }
  .icon .slick-slider .slick-list .slick-track .slick-slide {
    margin-right: 0px !important;
  }
  .best {
    /* margin-left: 20px !important; */
  }
  .custom-flex {
    display: flex !important;
    gap: 3px;
    justify-content: center;
    align-items: center;
  }
  .slider-arrow {
    height: fit-content;
    position: absolute;
    right: 15%;
    padding: 8px 21px;
    color: white;
    background-color: rgba(152, 154, 157, 0.4);
    border-radius: 6px;
  }
  .swiper-button-prev {
    position: absolute;
    left: 15%;
    padding: 8px 21px;
    color: white;
    background-color: rgba(152, 154, 157, 0.4);

    border-radius: 6px;
  }
  .swiper-button-next:after {
    font-size: 35px;
  }
  .swiper-button-prev:after {
    font-size: 35px;
  }
  .imgbanner {
    height: 40%;
    width: 40%;
  }
  .button-banner {
    /* padding: 5px;
    height: fit-content; */
  }
  .header {
    margin: 20px 0;
    padding: 00px 0 0 10px;
  }
  .banner img {
    max-width: none;
    width: 71px;
  }
  .image-container {
    display: flex;
    padding-bottom: 30px;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slideIn {
  animation: slideIn 0.5s ease;
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .weeklytop .slick-slider .slick-list .slick-track .slick-slide {
    margin-right: 40px !important;
  }
  .slick-list {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .slick-slide {
    margin-right: 16px;
  }
  .slick-next::before {
    font-size: 17px;
  }
  .slick-next {
    padding: 14px 10px;
    width: fit-content;
  }
  .slick-next {
    right: -20px;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1279px) {
  .icon .slick-slider .slick-list .slick-track .slick-slide {
    margin-right: -20px !important;
  }
}
