.image-container img {
  flex: 1;
  object-fit: cover;
  height: auto;
  max-width: 100%;
}
.heart {
  font-size: 2rem;
  cursor: pointer;
  transition:
    transform 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
}

.heart.is-liked {
  opacity: 1.2;
}
@keyframes flash {
  0%,
  50%,
  100% {
    scale: 1.2;
    opacity: 1;
  }
  25%,
  75% {
    scale: 1;
    opacity: 0.5;
  }
}

.heart.is-flashing {
  animation: flash 2s 1;
}
.number-container {
  display: flex;
}

.number-container span {
  cursor: pointer;
}

.number-container span.active {
}

.button-container {
  display: flex;
}

.button-container button {
  display: none;
  color: black;
}

.button-container button.active {
  display: flex;
  color: white;
}
